{#
| Variable                           | Type     | Description                                                                  |
|------------------------------------|----------|------------------------------------------------------------------------------|
| component                          | object   | Contains merchant settings for fields from twilight.json `component` section |
| component.merge_with_top_component | bool     |                                                                              |
| component.title                    | ?string  | Main title text                                                              |
| component.sub_title                | ?string  | Subtitle/description text                                                    |
| component.enable_gradient_title    | bool     | Enable gradient color for title (primary to secondary color)                 |
| component.links                    | object[] | list of links                                                                |
| component.links[].icon             | string   |                                                                              |
| component.links[].title            | string   |                                                                              |
| component.links[].url              | string   |                                                                              |
| position                           | int      | Sorting number start from zero                                               |
#}




<span class="navbar-underline"></span>
<section class="s-block my-10 s-block--categories     ">
    <!-- Decorative Top Heading -->
    {% if component.title %}
  <div class="mx-auto flex flex-col space-y-6 justify-center items-center my-12 w-5/6">

    <div class="flex flex-col items-center">
      {% if component.enable_gradient_title %}
        <h1 class="text-4xl font-alshohadaa mb-5 bg-gradient-to-r from-primary to-scandary bg-clip-text text-transparent">{{component.title}}</h1>
      {% else %}
        <h1 class="text-4xl font-alshohadaa mb-5 dark:text-white text-slate-800">{{component.title}}</h1>
      {% endif %}
      <span class="navbar-underline"></span>
    </div>

    <div class="text-center mx-auto text-base lg:text-lg dark:text-white text-slate-800">
        {{component.sub_title}}
      </div>
  </div>
 
{% endif %}

<div class="container  big-image-category justify-center items-center ">
<salla-slider  
type="carousel"
controls-outer
 autoplay
show-controls="true" 
id="main-links-{{ position }}">

<div slot="items">
      {% for item in component.links %}
          <div class="swiper-slide slide-one-one">
              <div class="category-card" style="animation-delay: {{ loop.index0 * 0.1 }}s;">
                  <a href="{{item.url}}" class="category-inner">

                      {# Background gradient overlay #}
                      {% if not item.switch %}
                      <div class="category-gradient-overlay"
                           style="background: linear-gradient(to bottom right, {{item.color}}, {{item.color_2}});"></div>
                      {% endif %}

                      {# Icon/Image container #}
                      <div class="category-icon-wrapper">
                          <div class="category-icon-bg">
                              <img src="{{item.image}}"
                                   alt="{{item.text}}"
                                   class="category-icon w-16 h-16 md:w-24 md:h-24 object-contain">
                          </div>
                      </div>

                      {# Category Name #}
                      <h3 class="category-name">{{item.text}}</h3>

                      {# Decorative corners #}
                      <div class="category-corner-top"></div>
                      <div class="category-corner-bottom"></div>
                  </a>
              </div>
          </div>
      {% endfor %}
</div>

</salla-slider>
</div>

</section> 


{# <div class=" bg-gradient-to-l from-[#90B99F] to-[#546C5D]  flex flex-col items-center justify-center"> #}


{# <section class="s-block s-block--categories mx-auto animate-on-scroll border border-blue-500 ">
<div class="container border border-red-500 ">
<salla-slider  
type="carousel"
controls-outer
show-controls="false" 
class="border border-green-500"
id="main-links-{{ position }}">
<div slot="items">

      {% for item in component.links %}

          <div class="swiper-slide border border-yellow-500 slide--one-sixth">
              <a href="{{item.url}}" 
                    style="background-image: linear-gradient(to bottom right, {{item.color}}2E , {{item.color_2}}D9 ),url('{{item.image}}') ;"
                    class=" flex items-center justify-center w-72 h-64 rounded-xl shadow-xl bg-cover bg-center hover:shadow-xl hover:scale-105 transition-all duration-300" >
                  <h3 class="text-white text-2xl font-bold place-self-center">{{item.text}}</h3>
              </a>
          </div>

      {% endfor %}

</div>
</salla-slider>
</div>
</section>  #}



{# 
<section class="s-block s-block--categories animate-on-scroll">

<div class="container big-image-category justify-center items-center ">
<salla-slider  
type="carousel"
controls-outer
show-controls="false" 
id="main-links-{{ position }}">
<div slot="items">
      {% for cat in component.links %}
       <div class="swiper-slide slide--one-sixth ">
         
              <a href="{{item.url}}" 
                    style="background-image: linear-gradient(to bottom right, {{item.color}}2E , {{item.color_2}}D9 ),url('{{item.image}}') ;"
                    class="flex items-center justify-center w-72 h-64 rounded-xl shadow-xl bg-cover bg-center hover:shadow-xl hover:scale-105 transition-all duration-300" >
                  <h3 class="text-white text-2xl font-bold place-self-center">{{item.text}}</h3>
              </a>

          </div>
      {% endfor %}
</div>
</salla-slider>
</div>
</section>  #}

