{#
| Variable        | Type       | Description                                                      |
|-----------------|------------|------------------------------------------------------------------|
| display_all_url | ?string    | If it's existed, mean should show load more link to this url     |
| title           | string     |                                                                  |
| products        | Products[] |                                                                  |
| position        | Int        | Sorting number start from zero                                   |
| limit           | Int        | Number of products to be shown
|#}
{% set is_vertical = false %}
{% set slashbg = component.slas_hbg | default(false) %}
{% set marquee = component.marquee | default(false) %}
{% set marqueetext = component.marqueetext | default(" سرعة /// أداء /// تحكم ") %}
{% set enable_border = component.enable_border | default(false) %}

<section class="   z-10 my-size-flash-discount-{{position}} {{ enable_border ? 'border-y border-[var(--color-primary)]' : ''}} py-20 relative 
    
    {{ slashbg ? 'slash-bg dynamic-bg-color ' : ''}}

    pb-32">

    {% if marquee %}

            <div class="styleish-text absolute top-10 left-0 w-full opacity-10 pointer-events-none select-none overflow-hidden" dir="ltr">
                <div class="marquee-reverse-sections flex whitespace-nowrap w-max">
                    <span class="font-alshohadaa text-9xl font-bold text-white display-text whitespace-nowrap px-4">
                        {{marqueetext}}&nbsp;&nbsp;&nbsp; {{marqueetext}}&nbsp;&nbsp;&nbsp; {{marqueetext}}&nbsp;&nbsp;&nbsp; {{marqueetext}}
                    </span>
                    <span class="font-alshohadaa text-9xl font-bold text-white display-text whitespace-nowrap px-4">
                        {{marqueetext}}&nbsp;&nbsp;&nbsp;{{marqueetext}}&nbsp;&nbsp;&nbsp; {{marqueetext}}&nbsp;&nbsp;&nbsp; {{marqueetext}}
                    </span>
                </div>
            </div>

            <div class="styleish-text absolute bottom-10 left-0 w-full opacity-10 pointer-events-none select-none overflow-hidden" dir="ltr">
                <div class="marquee-content-sections flex whitespace-nowrap w-max">
                    <span class="font-alshohadaa text-9xl font-bold text-white display-text whitespace-nowrap px-4">
                        {{marqueetext}}&nbsp;&nbsp;&nbsp; {{marqueetext}}&nbsp;&nbsp;&nbsp; {{marqueetext}}&nbsp;&nbsp;&nbsp; {{marqueetext}}
                    </span>
                    <span class="font-alshohadaa text-9xl font-bold text-white display-text whitespace-nowrap px-4">
                        {{marqueetext}}&nbsp;&nbsp;&nbsp;{{marqueetext}}&nbsp;&nbsp;&nbsp; {{marqueetext}}&nbsp;&nbsp;&nbsp; {{marqueetext}}
                    </span>
                </div>
            </div>

    {% endif %}


                {% if component.title %}
            <div class="mx-auto flex flex-col space-y-6 justify-center items-center my-12 w-5/6">

                <div class="flex flex-col items-center">
                {% if component.enable_gradient_title %}
                    <h1 class="text-4xl font-alshohadaa mb-5 bg-gradient-to-r from-primary to-scandary bg-clip-text text-transparent">{{component.title}}</h1>
                {% elseif component.enable_gradient_word and component.gradient_word %}
                    <h1 id="category-flash-title-{{ position }}" class="text-4xl font-alshohadaa mb-5 dynamic-text-color">{{component.title}}</h1>
                {% else %}
                    <h1 class="text-4xl font-alshohadaa mb-5 dynamic-text-color">{{component.title}}</h1>
                {% endif %}
                {# <span class="navbar-underline"></span> #}
                </div>

                <div class="text-center mx-auto text-base lg:text-lg dynamic-text-color">
                    {{component.sub_title}}
                </div>
            </div>

            {% if component.enable_gradient_word and component.gradient_word %}
                <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const titleEl = document.getElementById('category-flash-title-{{ position }}');
                    if (titleEl) {
                    const word = '{{ component.gradient_word }}';
                    const regex = new RegExp('(' + word.replace(/[.*+?^${}()|[\]\\]/g, '\\$&') + ')', 'gi');
                    titleEl.innerHTML = titleEl.innerHTML.replace(
                        regex,
                        '<span class="bg-gradient-to-r from-primary to-scandary bg-clip-text text-transparent">$1</span>'
                    );
                    }
                });
                </script>
            {% endif %}

            {% endif %}



       <div class="s-products-list-wrapper w-[90%] md:w-5/6 mx-auto  s-products-list-horizontal-cards">

                
                    {% for product in component.product %}
                
                    <custom-salla-product-card isSpecial 
                    
                    {% if component.show_quantity %}
                    showQuantity
                    {% endif %}
                    
                    shadow-on-hover horizontal product="{{product}}"  ></custom-salla-product-card>
                    
                    {% endfor %}
            </div>

 
{# localStorage.setItem('showQuantity', {{theme.settings.get('showQuantity', true)}}); #}


</section>

