<section class="flash-offer">
     <div class="flash-offer-container rounded-custom dynamic-border-color border m-32 min-h-[30rem] max-h-[30rem] flex flex-col md:flex-row">
    <img src="{{ component.image }}" alt="{{ component.title }}"  >

        <div class="flash-offer-content w-1/2   p-5 flex flex-col justify-evenly 
        ">
        <p class="flash-offer-badge">{{ component.badge_text }}</p>
            <h2 class="flash-offer-title font-alshohadaa text-2xl dynamic-text-color">{{ component.title }}</h2>

              <div class="w-full mx-auto  flash-offer-count-down">
                    <salla-count-down
                      date="{{component.product[0].discount_ends}}"  
                     end-of-day="{{true}}" boxed="{{true}}"
                    labeled="{{true}}">
                    </salla-count-down>
                </div>


            <p class="flash-offer-description dynamic-text-color">{{ component.badge_text }}</p>

                <p class="flash-offer-description dynamic-text-color">{{ component.description }}</p>

                    <salla-button href="{{component.product[0].url }}" color="primary" class="btn--rounded-full !text-white">
                        {{component.url}}
                    </salla-button>

        </div>
        </div>
</section>