<!-- Categories Grid -->
{% set slashbg = component.slas_hbg | default(false) %}
{% set marquee = component.marquee | default(false) %}
{% set marqueetext = component.marqueetext | default(" سرعة /// أداء /// تحكم ") %}
{% set enable_border = component.enable_border | default(false) %}
{% set enable_glow = component.enable_glow | default(false) %}
{% set marquee_text_position = component.marquee_text_position | default('both') %}
{% set marquee_is_moving = component.marquee_is_moving %}
{% set marquee_text_size = component.marquee_text_size | default('8') %}
{% set slas_hbg_size = component.slas_hbg_size | default('20') %}
{% set slas_hbg_use_primary_color = component.slas_hbg_use_primary_color %}
{% set slas_hbg_color = component.slas_hbg_color~"1A" | default('#0000001A') %}

<section class="z-10 overflow-hidden {{ enable_border ? 'border-y border-[var(--color-primary)]' : ''}} py-20 relative {{ slashbg ? 'slash-bg-' ~ position ~ ' dynamic-bg-color' : ''}} pb-32">
	{% if enable_glow %}
	<!-- Glow balls -->
	<div class="absolute top-[15%] left-[25%] w-64 h-64 rounded-full blur-3xl opacity-60 pointer-events-none" style="background-color: var(--color-primary);"></div>
	<div class="absolute bottom-[15%] right-[25%] w-56 h-56 rounded-full blur-3xl opacity-60 pointer-events-none" style="background-color: var(--color-scandary);"></div>
	<div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-52 h-52 rounded-full blur-3xl opacity-60 pointer-events-none" style="background-color: var(--color-primary);"></div>
	{% endif %}
	{% if marquee %}

	{% if marquee_text_position == 'top' or marquee_text_position == 'both' %}
	<div class="styleish-text absolute top-10 left-0 w-full opacity-10 pointer-events-none select-none overflow-hidden" dir="ltr">
		<div 
		style="font-size: {{marquee_text_size}}rem; line-height:1;"
		class="{{ marquee_is_moving ? 'marquee-reverse-sections' : '' }} flex whitespace-nowrap w-max">
			<span class="font-alshohadaa font-bold display-text whitespace-nowrap px-4 dynamic-text-color">
				{{marqueetext}}&nbsp;&nbsp;&nbsp; {{marqueetext}}&nbsp;&nbsp;&nbsp; {{marqueetext}}&nbsp;&nbsp;&nbsp; {{marqueetext}}
			</span>
			<span class="font-alshohadaa font-bold display-text whitespace-nowrap px-4 dynamic-text-color">
				{{marqueetext}}&nbsp;&nbsp;&nbsp;{{marqueetext}}&nbsp;&nbsp;&nbsp; {{marqueetext}}&nbsp;&nbsp;&nbsp; {{marqueetext}}
			</span>
		</div>
	</div>
	{% endif %}

	{% if marquee_text_position == 'bottom' or marquee_text_position == 'both' %}
	<div class="styleish-text absolute bottom-10 left-0 w-full opacity-10 pointer-events-none select-none overflow-hidden" dir="ltr">
		<div
		style="font-size: {{marquee_text_size}}rem; line-height:1;"
		class="{{ marquee_is_moving ? 'marquee-content-sections' : '' }} flex whitespace-nowrap w-max">
			<span class="font-alshohadaa font-bold display-text whitespace-nowrap px-4 dynamic-text-color">
				{{marqueetext}}&nbsp;&nbsp;&nbsp; {{marqueetext}}&nbsp;&nbsp;&nbsp; {{marqueetext}}&nbsp;&nbsp;&nbsp; {{marqueetext}}
			</span>
			<span class="font-alshohadaa font-bold display-text whitespace-nowrap px-4 dynamic-text-color">
				{{marqueetext}}&nbsp;&nbsp;&nbsp;{{marqueetext}}&nbsp;&nbsp;&nbsp; {{marqueetext}}&nbsp;&nbsp;&nbsp; {{marqueetext}}
			</span>
		</div>
	</div>
	{% endif %}

	{% endif %}

	 
	<div class="container mx-auto px-6">

		<div class="mx-auto">
			{% if component.title %}
				<h2 class="text-4xl font-alshohadaa md:text-5xl mb-12 text-center italic uppercase dynamic-text-color">
					{% if component.enable_gradient_word and component.gradient_word %}
						{{ component.title|replace({ (component.gradient_word): '<span class="text-[var(--color-primary)]">' ~ component.gradient_word ~ '</span>' })|raw }}
					{% else %}
						{{ component.title }}
					{% endif %}
				</h2>
				<p class="mx-auto my-5 text-center text-xl dynamic-text-color">{{component.sub_title}}</p>
			{% endif %}
		</div>
		<div class="grid grid-cols-1 md:grid-cols-2 {{ component.categories|length == 3 ? 'lg:grid-cols-3' : 'lg:grid-cols-4' }} gap-4 h-[600px]">
			{% for item in component.categories %}
				<!-- Category Card {{ loop.index }} -->
				<div class="relative group -skew-x-3 hover:border-r-8 overflow-hidden h-full border-r-4 border-b border-[var(--color-scandary)] cursor-pointer">
					<a href="{{ item.url }}" class="block h-full w-full">

						<img src="{{ item.image }}" class="absolute inset-0 w-full h-full object-cover transition duration-500 group-hover:scale-110" alt="{{ item.title }}">
						{# <div class="absolute inset-0  opacity-0 group-hover:opacity-40 transition-opacity duration-300"></div> #}
						<div class="absolute inset-0 bg-gradient-to-t from-[var(--color-light-page-background)] dark:from-[var(--color-dark-page-background)] to-transparent duration-300"></div>
						<div class="absolute bottom-0 left-0 p-6 z-10">
							<h3 class="text-3xl font-bold italic uppercase skew-x-[-5deg] dynamic-text-color">{{ item.title }}</h3>
							{# <p class="text-[var(--color-primary)] font-bold opacity-0 group-hover:opacity-100 transition-opacity duration-300">SHOP NOW &rarr;</p> #}
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>


</section>

<style>

{% if slas_hbg_use_primary_color %}

	.slash-bg-{{position}} 
		{
		background: linear-gradient(135deg, var(--color-primary-10) 25%, rgba(0, 0, 0, 0)  
		25%, rgba(0, 0, 0, 0)  50%, var(--color-primary-10)  50%, 
										var(--color-primary-10) 75%, rgba(0, 0, 0, 0) 75%);
										background-size: {{slas_hbg_size}}px {{slas_hbg_size}}px;
		}

{% else %}

	.slash-bg-{{position}} {

	background: linear-gradient(135deg, {{slas_hbg_color}} 25%, rgba(0, 0, 0, 0)  
	25%, rgba(0, 0, 0, 0)  50%, {{slas_hbg_color}}  50%, 
									{{slas_hbg_color}} 75%, rgba(0, 0, 0, 0) 75%);
									background-size: {{slas_hbg_size}}px {{slas_hbg_size}}px;
	}

{% endif %}

</style>
