{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |
#}
{% set important_links = theme.settings.get('important_links') %}
{% set show_topnav = theme.settings.get('show_topnav', true) %}
<header class="store-header ">
  {# Top Nav #}
  {% if show_topnav %}
  <div  class="top-navbar dynamic-bg-color">
    <div class="container flex justify-between">
      <div class="flex-1 flex items-center gap-2">
          {# Footer Menu #}
          {% if important_links %}
            <salla-menu source="footer" topnav></salla-menu>
          {% endif %}

          {# Language & Currency Component #}
          <div class="header-buttons">
              {% if store.settings.is_multilingual or store.settings.currencies_enabled %}
                  <button type="button" onclick="salla.event.dispatch('localization::open')" class="btn--rounded-gray basis-0">
                      <span class="flag iti__flag iti__{{ user.language.country_code }} rounded-sm"></span>
                      <span class="mx-1.5">|</span> <span>{{ currency.symbol }}</span>
                  </button>
                  <salla-localization-modal></salla-localization-modal>
              {% endif %}
          </div>

          {# Scopes | Branches #}
          {% if store.scope %}
              <button class="btn--rounded-gray"
                      onclick="salla.event.dispatch('scopes::open', {'mode': 'default'})">
                  <i class="sicon-location rtl:ml-1 ltr:mr-1"></i> {{ store.scope.name }}
              </button>
          {% endif %}

          {# Search bar #}
          <div class="header-search flex-1">
            <salla-search inline oval height="36"></salla-search>
          </div>
      </div>

      <salla-contacts is-header></salla-contacts>
    </div>
  </div>
  {% endif %}

  {# Main Nav #}
  <div id="mainnav" class="main-nav-container  !font-thin shadow-default bg-light-background dark:bg-dark-background">
      <div class="inner bg-inherit">
          <div class=" mx-10">
              <div class="flex items-stretch justify-between relative">
                  <div class="flex items-center">
                      <a class="lg:hidden mburger mburger--collapse leading-none rtl:ml-4 ltr:mr-4" href="#mobile-menu" aria-label="Open-menu">
                        <i class="hover:text-[var(--color-primary)] sicon-menu text-primary text-2xl"></i>
                      </a>
                      <a class="navbar-brand" href="{{ store.url }}">
                          <img fetchpriority="high" width="100%" height="100%" loading="eager" src="{{ store.logo }}" alt="{{ store.name }} logo">
                          {% if is_page('index') %}
                            <h1 class="sr-only">{{ store.name }}</h1>
                          {% else %}
                            <h2 class="sr-only">{{ store.name }}</h2>
                          {% endif %}
                      </a>
                  </div>

                  <custom-main-menu></custom-main-menu>

                  <div class="flex items-center  justify-end">

                    {% if user.type=='user' %}
                        <salla-user-menu avatar-only show-header></salla-user-menu>
                      {% else %}
                          <button class="header-btn mr-[9px] rtl:ml-[9px] rtl:mr-[unset] dynamic-text-color" aria-label="user-icon" onclick="salla.event.dispatch('login::open')">
                            <i class="header-btn__icon sicon-user-circle hover:text-[var(--color-primary)] dynamic-text-color"></i>
                          </button>
                      {% endif %}


              {% if theme.settings.get('dark_mode_enabled', true) %}
                      <button
                        id="theme-toggle"
                        class="header-btn   "
                        type="button"
                        aria-pressed="false"
                        aria-label="Toggle color mode"
                      >
                        <i class="hover:text-[var(--color-primary)] header-btn__icon icon sicon-moon hidden dynamic-text-color" data-theme-icon="dark" aria-hidden="true" style="display:none"></i>

                        <i class="hover:text-[var(--color-primary)] header-btn__icon icon sicon-sun dynamic-text-color" data-theme-icon="light" aria-hidden="true"></i>
                        <span class="sr-only">Toggle color mode</span>
                      </button>
                      {% endif %}


                            <button class="   dynamic-text-color" 
                              id="search-btn"
                              type="button"
                              data-modal-id="search-modal-volt"
                              aria-label="user-icon" 
                              onclick="(function(){event.preventDefault();
                                document.querySelector('#search-modal-volt').open();
                                return false;})();">
                            <i class="hover:text-[var(--color-primary)] header-btn__icon sicon-search dynamic-text-color"></i>
                          </button>


                    <salla-cart-summary class="ml-4 rtl:ml-[unset] rtl:mr-4 dynamic-text-color">
                      {#  #}
                        <i slot="icon" class=" hover:text-[var(--color-primary)] header-btn__icon icon sicon-shopping-bag dynamic-text-color"></i>
                      </salla-cart-summary>


                  </div>
              </div>
          </div>
      </div>
  </div>
  <span class="navbar-underline"></span>
</header>
{% if store.scope %}
    <salla-scopes selection="{{ store.scope.display_as == 'popup' ? 'mandatory' : 'optional' }}"></salla-scopes>
{% endif %}
  <salla-modal has-skeleton="true" position="top" class="rounded-custom" id="search-modal-volt">
    <h4>{{ trans('blocks.footer.search') }}</h4>
		<hr>
      <div class="m-3 flex-1 md:h-10 h-96">
        <salla-search inline oval height="36"></salla-search>
    </div>
   </salla-modal>